<%-include("partials/head")%> 

<body>
	<%- include("partials/navbar") %> 

	<h1>Home Page</h1>
	<p><%= 12 + 3%></p>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam perferendis, sed exercitationem aliquid quidem accusamus quisquam saepe minus officia id ad necessitatibus, libero doloremque nihil distinctio labore, enim aspernatur quas.
	Sapiente, quasi dolorum modi, quibusdam ipsa amet blanditiis magni, asperiores error vero itaque quam sunt autem mollitia aliquam nesciunt eaque ratione! Aliquam placeat hic odit! Tenetur sapiente adipisci a repudiandae?
	Corrupti officiis mollitia, excepturi eaque, obcaecati maxime aspernatur animi eligendi suscipit explicabo iste veritatis et sequi autem in sunt sed alias eum quis fugit recusandae expedita commodi ex ullam! Error.
	Expedita cupiditate dolor suscipit animi tempore officia dolorem nostrum! Ut esse officiis non facilis hic? Earum ad beatae iure, soluta dolorem rem nulla sit nihil ut numquam nobis incidunt exercitationem.
	Pariatur, eum magni praesentium doloremque ipsum illo adipisci quibusdam harum repudiandae quaerat recusandae dolores. Suscipit nostrum molestias perferendis veniam repellat animi, soluta doloremque itaque necessitatibus. Ut voluptatem officia doloribus soluta?
	Nobis voluptatibus iusto quod nemo, ullam impedit similique est atque vitae eveniet omnis exercitationem iste voluptate natus, voluptas ex enim quam rem maxime molestiae, nostrum ducimus! Qui illo eos sunt.
	Modi est impedit, aut provident magni fugit, iste sint nobis iure eius, iusto reprehenderit fuga voluptatum sequi! Dicta voluptatibus consectetur dolorum, commodi ipsum consequuntur, in sit saepe, doloremque eius corporis.
	Laboriosam enim officia, dicta cupiditate odit quisquam recusandae amet dolor minima accusantium facere quibusdam ipsam, quaerat exercitationem debitis optio rem veritatis provident maxime odio ipsa voluptatibus! Suscipit, ipsa nihil. Numquam.
	Harum alias rerum sunt officiis libero voluptatum similique nam distinctio. Eos nihil, dicta neque illo veniam repudiandae, debitis vero omnis rerum excepturi adipisci ipsam molestiae? Consectetur voluptates mollitia nesciunt laborum!
	Debitis dolor consequuntur in iure omnis magni error earum sit suscipit vero tenetur vel eaque, dolore aliquam libero qui, magnam cupiditate nihil facilis deserunt eligendi esse deleniti. Officia, voluptate doloribus!</p>
</body>
</html>