html {
	box-sizing: border-box;
}

li {
	padding: 0;
}

body {
	margin: 0;
	background-color: #60a9ff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
}

.panel {
	background-color: white;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	text-align: center;
	border-radius: 10px;
	padding: 15px 25px;
	width: 100%;
	max-width: 960px;
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
}

.pricing-img {
	width: 100%;
	max-width: 100%;
	max-width: 460px;
	margin-bottom: 25px;
}

.pricing-plan {
	border-bottom: 1px solid powderblue;
}

.pricing-plan:last-child {
	border-bottom: none;
}

.pricing-header {
	color: #888;
	font-weight: 600;
	letter-spacing: 1px;
}

.pricing-features {
	margin: 50px 0 25px;
	color: #016ff9;
}

.pricing-features-item {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 1.5;
	padding: 15px 0;
	border-top: 1px solid powderblue;
}

.pricing-features-item:last-child {
	border-bottom: 1px solid powderblue;
}

.pricing-price {
	color: #016ff9;
	display: block;
	font-size: 32px;
	font-weight: 700;
}

.pricing-button {
	border: 1px solid #60a9ff;
	border-radius: 10px;
	color: #348efe;
	display: inline-block;
	padding: 15px 35px;
	margin: 30px 0;
	text-decoration: none;
	transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
	background-color: #e1f1ff;
}

.pricing-button.is-featured {
	background-color: #48aaff;
	color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
	background-color: #269aff;
	color: white;
}

@media (min-width: 900px) {
	.panel {
		flex-direction: row;
	}
	.pricing-plan {
		border-bottom: none;
		border-right: 1px solid powderblue;
		padding: 25px 50px;
	}
	.pricing-plan:last-child {
		border-right: none;
	}
}